
$font-family-sans-serif: "Calibri", sans-serif;
$headings-font-family: "Calibri", sans-serif;

$black: #000;
$light: #F6F2ED;
$primary: #C07635;
$secondary: #8f5bfe;
$tertiary: #D8A273;


$navbar-brand-font-size: 2.5rem;
$navbar-light-color: rgba($black, .85);
$navbar-light-hover-color: rgba($black, .6); 
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

